@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-family: "Montserrat", sans-serif;
    --font-size-normal: 1rem;
    --font-weight: 500;
    --color-dark: #052250;
}


body{
    background-color: #eff3f8;
    padding: 0;
    margin: 0;
    text-wrap: wrap;
}

nav{
    max-width: 100vw;
    height: 70px;
    background-color: #052250;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 /.4);
}

.content-logo{
    margin-left: 15px;
    & a {
        font-size: calc(var(--font-size-normal) * 1.8);
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-family: var(--font-family);
    }
}

.content-menu{
    flex: 1 0 30%;
    & > ul {
        list-style: none;
        margin: 0;
        display: flex;
        gap: 30px;
        & > li {
            & > a{
                font-size: calc(var(--font-size-normal) * 0.9);
                text-decoration: underline;
                color: #fff;
                font-family: var(--font-family);
            }
        }
    }
}

.content-logout{
    margin-right: 15px;
    & a {
        font-size: calc(var(--font-size-normal) * 1.2);
        text-decoration: none;
        color: #fff;
        font-family: var(--font-family);
    }
}

.main{
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    max-width: 60vw;
    width: 60vw;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #eff3f8;
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 /.4);
    padding: 10px;
}

.card-content{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card-button{
    flex: 1 0 100%;
    margin-top: 10px;
    & a {
        background-color: #0e64c3;
        padding: 7px 20px;
        color: #fff;
        font-size: var(--font-size-normal);
        border-radius: 10px;
        text-decoration: none;
        float: right;
    }
}

.card-title{
    flex: 1 0 100%;
    & > h1 {
        font-size: calc(var(--font-size-normal) * 1.8);
        color: var(--color-dark);
        font-weight: var(--font-weight);
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

.card-table{
    flex: 1 0 100%;
    & table{
        width: 100%;
        border-collapse: collapse;
        & th{
            background-color: #ededed;
            font-family: var(--font-family);
            padding: 10px;
            color: #052250;
            &:first-child {
                border-top-left-radius: 10px;
            }
            &:last-child{
                border-top-right-radius: 10px;
            }
        }
    }
}

.is-invalid{
    border: 1px solid #9d1604 ;
    outline: #9d1604 invert 1px;
}

.alert{
    width: 100%;
    box-sizing: content-box;
    padding: 5px;
    background-color: #9d1604;
    margin-top: 5px;
    border-radius: 5px;
}

.alert-danger{
    color: #fff;
    font-family: var(--font-family);
    font-size: 0.7rem;
}
